html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #252525, #000000);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    height: auto;
    width: 100%;
    color: white;
    background: linear-gradient(to right, #252525, #000000);
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
    width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #070707;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #000;
    }