/* Navbar */
.navbar {
    background-color: #000000f2;
    height: 85px;

}
#nav-group {
    display: flex;
    width: 100vw;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

#nav-link {
    display: flex;
    color: #fff;
    font-family: 'Josefin Sans';
    font-size: 25px;
    font-weight: 400;
    margin-right: 15px;
    padding: 10px;
    text-decoration: underline;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

    #nav-link:hover {
        color: #00ffff
    }

#nav-order {
    display: flex;
    color: #fff;
    background-color: #d600ff;
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 400;
    padding: 15px 25px 9px 25px;
    border-radius: 2px;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

    #nav-order:hover {
        background-color: #00b8ff
    }

#nav-icon {
    display: flex;
    color: #fff;
    font-family: 'Josefin Sans';
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
}



.nav-icon-container {
    display: flex;
    justify-content: flex-start;
}
.nav-icon {
    display: flex;
    justify-content: flex-start;
}

.nav-logo-container {
    display: flex;
    justify-content: center;
}
.logo-image {
    display: flex;
    justify-content: center;
}

.nav-links-container {
    display: flex;
    justify-content: flex-end;
}
.nav-link {
    display: flex;
    justify-content: flex-end;
}

/* Media Icons */
.navbar-icons {
}

.icon-image {

    gap: 10px;
}

.fb-logo, .insta-logo, .yelp-logo {
    display: flex;
}

/* Hero Banner */
.hero-img {
    display: flex;
    overflow: hidden;
    min-width: 1050px;
    height: 585px;
    background-color: #000c1d;

}