* {
    justify-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.menupg-container {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 3fr;
    height: auto;

}

.int-menu-container {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "mt-header st-header ft-header"
        "mt-one st-one ft-one"
        "mt-two st-two ft-two"
        "mt-three st-three ft-three"
        "mt-four st-four ft-four"
        "mt-five st-five ft-five";
    background-color: blueviolet;
    border-radius: 35px;
    grid-column-gap: 150px;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/*
    q: 
    a: 
*/

.mt-header {
    justify-self: center;
    grid-area: mt-header;
}

h3 {
    display: grid;
    justify-self: center;
    align-self: center;
}

.mt-one {
    grid-area: mt-one;
}

.mt-two {
    grid-area: mt-two;
}

.mt-three {
    grid-area: mt-three;
}

.mt-four {
    grid-area: mt-four;
}

.mt-five {
    grid-area: mt-five;
}

.matcha-menu {
    grid-area: matcha-menu;
}

.st-header {
    grid-area: st-header;
}

.st-one {
    grid-area: st-one;
}

.st-two {
    grid-area: st-two;
}

.st-three {
    grid-area: st-three;
}

.st-four {
    grid-area: st-four;
}

.st-five {
    grid-area: st-five;
}


.ft-header {
    grid-area: ft-header;
}

.ft-one {
    grid-area: ft-one;
}

.ft-two {
    grid-area: ft-two;
}

.ft-three {
    grid-area: ft-three;
}

.ft-four {
    grid-area: ft-four;
}

.ft-five {
    grid-area: ft-five;
}
