* {
    justify-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.menupg-container {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-content: center;
}

.menupg-header {
    display: inline-flex;
    justify-content: center;
    justify-self: center;
    align-content: center;
    font-size: 70px;
    background-color: #0000002f;
    padding: 10px 3em 15px 3em;
    border-radius: 10px;
    border: 3px solid #d600ff;
}
.int-menu-container {
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "mt-header mt-header2 st-header st-header2 st-header3 "
        "mt-one mt-five st-one st-five st-nine"
        "mt-two mt-six st-two st-six st-ten"
        "mt-three mt-seven st-three st-seven st-eleven"
        "mt-four mt-eight st-four st-eight st-twelve ";
    background-color: transparent;
    border: 5px solid;
    border-color: #d600ff;
    border-radius: 35px;
    grid-column-gap: 0px;
    width: 85%;
    height: 80%;
    margin: auto;  
    margin-top: 25px;
    margin-bottom: 75px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.int2-menu-container {
    display: grid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "mt2-header ft-header ft-header2 ext-header ext-header2 "
        "mt2-one ft-one ft-five ext-one ext-five"
        "mt2-two ft-two ft-six ext-two ext-six"
        "mt2-three ft-three ft-seven ext-three ext-seven"
        "mt2-four ft-four ft-eight ext-four ext-eight";
    background-color: transparent;
    border: 5px solid;
    border-color: #d600ff;
    border-radius: 35px;
    grid-column-gap: 0px;
    width: 85%;
    height: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


.mt-img {
}


h3 {
    display: flex;
    font-size: 20px;
    cursor: default;
    justify-self: center;
    align-self: center;
    background-color: #000c1d;
    padding: 8px;
    border-radius: 10px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
    h3:hover {
        color: black;
        background-color: aquamarine
    }


.menu-header {
    justify-self: center;
    align-items: center;
    background-color: #d600ff;
    padding: 0.1em 3em 0.4em 3em;
    border-radius: 25px;
    text-decoration: underline;
}
.download-container {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: auto;
}
.download-menu {
    display: flex;
    font-size: 25px;
    margin-bottom: 100px;
    background-color: #d600ff;
    border-radius: 25px;
    height: 75px;
    width: 275px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
    .download-menu:hover {
        color: black;
        background-color: aquamarine
    }

/* ----- FIRST MENU ----- */

/* -- Milk Tea -- */
.mt-header {
    justify-self: center;
    grid-area: mt-header;
    grid-column: 1 / 3;
}

.mt-one {
    grid-area: mt-one;

}

.mt-two {
    grid-area: mt-two;
}

.mt-three {
    grid-area: mt-three;
}

.mt-four {
    grid-area: mt-four;
}

.mt-five {
    grid-area: mt-five;
}
/* -- Specialty -- */
.st-header {
    grid-area: st-header;
    grid-column: 3 / 6
}

.st-one, .st-two, .st-three, .st-four {
    padding-left: 55px;
    padding-right: 35px;
    border-left: 3px solid #d600ff;
}

.st-one {
    grid-area: st-one;
}

.st-two {
    grid-area: st-two;
}

.st-three {
    grid-area: st-three;
}

.st-four {
    grid-area: st-four;
}

.st-five {
    grid-area: st-five;
}

.st-six {
    grid-area: st-six;
}

.st-seven {
    grid-area: st-seven;
}

.st-eight {
    grid-area: st-eight;
}

.st-nine {
    grid-area: st-nine;
}

.st-ten {
    grid-area: st-ten;
}

.st-eleven {
    grid-area: st-eleven;
}


/* ----- SECOND MENU ----- */
.mt2-one, .mt2-two, .mt2-three, .mt2-four {
    padding-left: 55px;
    padding-right: 4em;
    border-right: 3px solid #d600ff;
}

.mt2-header {
    justify-self: center;
    grid-area: mt2-header;
}

.mt2-one {
    grid-area: mt2-one;
}

.mt2-two {
    grid-area: mt2-two;
}

.mt2-three {
    grid-area: mt2-three;
}

.mt2-four {
    grid-area: mt2-four;
}

/* -- Fruit Tea -- */
.ft-header {
    grid-area: ft-header;
    grid-column: 2 / 4;
}

.ft-five, .ft-six, .ft-seven, .ft-eight {
    padding-left: 35px;
    padding-right: 45px;
    border-right: 3px solid #d600ff;
}
.ft-one {
    grid-area: ft-one;

}

.ft-two {
    grid-area: ft-two;
}

.ft-three {
    grid-area: ft-three;
}

.ft-four {
    grid-area: ft-four;
}

.ft-five {
    grid-area: ft-five;
}

.ft-six {
    grid-area: ft-six;
}

.ft-seven {
    grid-area: ft-seven;
}

.ft-eight {
    grid-area: ft-eight;
}

/* -- Extras -- */
.ext-header {
    grid-area: ext-header;
    justify-self: center;
    align-items: center;
    align-content: center;
    grid-column: 4 / 6
}

.topping-header {
    display: flex;
    font-size: 35px;
    text-decoration: underline;
    justify-self: center;
    align-items: center;
    align-content: center;
    grid-column: 4 / 6
}

.tp-ul {
    display: flex;
    font-size: 30px;
    line-height: 38px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ext-one {
    display: inline-block;
    grid-area: ext-one;
    grid-column: 4 / 6
}
.ext-two {
    display: inline-block;
    grid-area: ext-two;
    grid-column: 4 / 6;
    margin-bottom: 10em;

}
.ext-three {
    display: inline-block;
    grid-area: ext-three;
    grid-column: 4 / 6;
    grid-row: 2 / 6;
    margin-top: 8em;
}
.ext-four {
    display: inline-block;
    grid-area: ext-four;
    grid-column: 4 / 6;
    grid-row: 4 / 7;
    margin-top: 15em;
}
.ma-header, .il-header, .sl-header {
    display: flex;
    font-size: 35px;
    text-decoration: underline;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    align-content: center;
}

.tmp-ul {
    display: flex;
    font-size: 30px;
    line-height: 38px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}