.subhero-wrapper {
    background-size: cover;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #0c0c0c
}

.sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: auto;
    padding-top: 2em;
    padding-bottom: 5em;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    gap: 2em;
}

.a-btn {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    height: 60px;
    width: 250px;
    font-family: 'Josefin Sans';
    font-size: 25px;
    font-weight: 500;
    color: #cd4ae8;
    background-color: #101010;
    border: 3px solid;
    justify-content: center;
    align-items: center;
    border-color: #8C04A8;
    border-radius: 5px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

    .btn:hover {
        color: white;
        background-color: #8C04A8;
    }


/* Hours Slideshow */

/* Slideshow Buttons */
.slideshow-container {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #191919;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: auto;
}

.sl-container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Josefin Sans';
    font-weight: 300;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: auto;
    gap: 5em;
    padding-bottom: 5em;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: auto;
    position: absolute;
    gap: 21em;
}


.sl-btn {
    cursor: pointer;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s ease;
    user-select: none;
}

#left {
    display: inline-flex;
    padding: 5px 10px 5px 10px;
    border-radius: 3px 0 0 3px;
    height: fit-content;
    width: auto;
}

#right {
    display: inline-flex;
    padding: 5px 10px 5px 10px;
    border-radius: 0 3px 3px 0;
    height: fit-content;
    width: auto;
}

#left:hover, #right:hover {
    background-color:  #8C04A8;
}

/* Slideshow Background */
.hours-container {
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: -2.5vh;
    display: inline;
}

.activeOne {
    background-color: #191919;
    border: 3px solid;
    border-color: #8C04A8;
    border-radius: 10px;
    height: 400px;
    width: 425px;
}

.activeTwo {
    background-color: #191919;
    border: 3px solid;
    border-color: #8C04A8;
    border-radius: 10px;
    height: 400px;
    width: 425px;
}

.none {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 0.5s
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

/* Slideshow text*/
.sl-header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
    text-underline-offset: 12px;
    
}

.sl-hours {
    border-collapse: collapse;
    justify-content: center;
    display: grid;
    text-align: center;
    justify-content: center;
    line-height: 38px;
    font-size: 23px;
}

#weekday {
    display: inline-flex;
}

.hours-container {
    margin-top: -2.5vh;
    font-size: 19px;
}

.day-container {
    font-size: 19px;
    text-align: center;
/*    padding-right: 1em;*/
    margin-top: -2.5vh;
}

#text-ul {
    font-weight: 700
}
/* Dots */
.dots-container {
    display: flex;
    height: fit-content;
    width: auto;
    position: absolute;
    padding-top: 22.5em;
}

.dots {
    display: flex;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 50%;
    margin: 5px;
    border: 3px solid;
    border-color: white;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
    .dots:hover {
        background-color: white;
    }

#dots-one {
    background-color: white;
    transition: background-color 0.9s ease;
}
#dots-two {
    background-color: white;
    transition: background-color 0.9s ease;
}
    #dots-one:active, #dots-two:active {
        background-color: white;
    }

/* Location */
.static-background {
    justify-content: center;
    align-items: center;
    align-self: unset;
    display: inline-flex;
    flex-wrap: wrap;
    font-weight: 400;
    background-color: #191919;
    border: 3px solid;
    border-color: #8C04A8;
    border-radius: 10px;
    height: 400px;
    width: 425px;
}

.location-container {
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 425px;
    display: grid;
    grid-template-rows: 100px 150px 150px;
}

.location-header {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: 600;
    margin-top: 16px;
    border-bottom: 3px solid;
    padding-right: 1em;
    padding-left: 1em;
    width: 165px;
    justify-self: center;
}

.sl-hours-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(270px, auto);
    display: inline-grid;
    padding-left: 0.4em;
    width: 390px;
}

.location {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    height: auto;
    width: auto;
}

.directions {
    display: inherit;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-size: 19px;
    border: 3px solid;
    border-color: #8C04A8;
    border-radius: 5px;
    height: 60px;
    width: 150px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
    .directions:hover {
        background-color: #8C04A8;
        color: white;
        font-weight: 500;
    }
